body {
    padding: 0px;
    margin: 0px;
}

#calculator-wrapper {
    margin: auto;
    min-width: 250px;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-fields {
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

#text-fields * {
    min-width: inherit; 
    max-width: max-content;
    max-height: 20px;
    min-height: 40px;
    height: 20px;
    border: none;
    font-size: 1.405rem;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#button-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#button-area button {
    padding: 25px;
    width: 100%;
}
    

#keypad {
    background-color: #79cdd3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#keypad > .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#keypad button {
    background-color: inherit;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

#keypad button:hover {
    background-color: #e5e5e5;
}

#operator-pad {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-left: #b94a00 solid 5px;
}

#operator-pad button {
    border: none;
    background-color: #16424d;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

#button-area button:hover {
    background-color: #ebe96e;
}